body {
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*
div {
  border: 1px solid grey;
} */

/* header */

header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  background: black;
  top: 0px;
  border-bottom: 1px solid seashell;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  z-index: 5;
}


header div {
  display: flex;
  flex-grow: 1;
  height: 69px;
  align-items: center;
}

div.logo img {
  display: block;
  height: 50px;
  align-items: center;
}

nav {
  display: inline-block;
  margin-right: 10px;
}

nav span {
  padding-left: 10px;
  margin-right: 30px;
}

nav a {
  color: seashell;
  border-color: seashell;
}

/* nav ids */

#mission {

}

#teas {


}

#locations

/* main container */

.main-container {
  display: flex;
  position: relative;
  top: 96px;
  height: 1500px;
  width: 100%;
  justify-content: center;
}

div #mission {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

div #teas {
  display: block;
  height: 700px;
  width: 1200px;
  justify-content: center;
  margin: 30px auto;
}

div #locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding-top: 70px;
}

div.text-block {
  background-color: black;
  width:1200px
}

.product-container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
}

.product {
  margin-bottom: 20px;
}

.product img{
  display: block;
  width: 300px;
  height: 200px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 15px;
}

.locations {
  display: flex;
  width: 1200px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 300px;
  margin: 0px 20px;
}

#locations h2 {
  margin: 0px;
}
